:root {
    --Cincel: 'Cinzel Decorative', cursive;
    --Skranji: 'Skranji', cursive;
    --height100: 100vh; 
    --per100: 100%;
    --rem1Vw3: calc(1rem + 3vw)
}

body {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    /* background-color: black; */
}
.section:first-child {
    width: calc(25rem + 5vw);
    height: var(--height100);   
}

.section:last-child {
    width: 70%;
    height: var(--height100);   
}

.section__container {
    width: var(--per100);
    background-image: url('./img/halie-west.jpg');
    /* object-fit: cover; */
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    height: var(--per100);
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 50vh;
}

.section__logo {
    background-color: rgb(0, 0, 0, 40%);
    /* height: 15vh;
    width: 30vw; */
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    padding: 2em;
    margin-top: calc(2rem + 5vw);
    position: relative;
}

.logo__img {
    width: var(--rem1Vw3);
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    /* height: 7rem; */
    
}
.logo__h1 {
    color: white;
    font-size: var(--rem1Vw3);
    font-family: var(--Cincel);    
}

.section__footer {
    margin-top: calc(1rem + 1vw);
    color: white;
    text-align: center;
    align-self: center;
    font-size: calc(0.4rem + 0.5vw);
}

.footer__item--a {
    text-decoration: underline;
}
